<?xml version="1.0" encoding="utf-8" ?>

<!--All test settings should go into this app.config file-->
<configuration>
  <appSettings>
    <add key="Screenshot" value="OnFail"/> <!-- Never, OnFail, Always -->
    <add key="screenshotPath" value="D:\AutomationScreenshots\"/>
    <add key="Device" value="Desktop"/> <!-- Desktop, Tablet, mobile/phone  -->
    <add key="Browser" value="Chrome"/> <!-- Chrome, Firefox, IE  -->
    <add key="commandTimeout" value="60"/> <!-- in seconds -->
  </appSettings>
</configuration>